<%#= render '/refinery/content_page' %>
<div id="wrapper">
<section id="shreddin-since-87">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 col-md-12">
				<%= image_tag 'Header_RetroLogo-2.png', class: 'img-responsive', id: 'thirty-years-logo' %>
			</div>
		</div>
	</div>
</section>

<section id="header-app-store" class="hidden-xs">
	<div class="container">
		<div class="row">

			<div class="col-sm-5 col-lg-6 col-lg-offset-1">
				<%= raw @page.content_for(:headline) %>
			</div>

			<div class="col-sm-6 col-lg-5" >
				<div id="app-box-top">
					<div id="app-box-top-inner">
						<div id="rossignol-87">
							<img src="../assets/rossignol-87.png" class="img-responsive" />
						</div>
						<%= link_to (image_tag 'apple.png'), 'https://itunes.apple.com/us/app/rossignol-shreddin-since-87/id1193299498?mt=8', id: 'apple' %>
						<%= link_to (image_tag 'google.png'), 'https://play.google.com/store/apps/details?id=com.wearetopsecret.rossignol', id: 'google' %>
						<h3 class="text-center" id="play-game">
							<%= raw @page.content_for(:link_prompt) %>
						</h3>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="header-app-store-xs" class="visible-xs" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<%= raw @page.content_for(:headline) %>
			</div>
		</div>
		<div id="app-box-outer">
			<div id="app-box-inner">
				<div class="row">
					<div class="col-xs-12 text-center">
						<div id="rossignol-87-xs">
							<img src="../assets/rossignol-87.png" class="img-responsive" style="margin:20px auto;" id="ross-87-sm" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<%= link_to (image_tag 'apple.png'), 'https://itunes.apple.com/us/app/rossignol-shreddin-since-87/id1193299498?mt=8', id: 'apple' %>
						<%= link_to (image_tag 'google.png'), 'https://play.google.com/store/apps/details?id=com.wearetopsecret.rossignol', id: 'google' %>
						<h3 class="text-center" id="play-game">
							<%= raw @page.content_for(:link_prompt) %>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="rossignol-30-years">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-11 col-lg-offset-1">
				<%= raw @page.content_for(:header_body) %>
			</div>
		</div>
	</div>
</section>

<section id="first-decade">
	<div id="the-avion" class="hidden-sm hidden-md hidden-lg">
		<%= image_tag "Mobile30YrSB-NoText_BOARD-1.png" %>
	</div>
	<div id="seone" class="hidden-sm hidden-md hidden-lg">
		<%= image_tag "Mobile30YrSB-NoText_BOARD-2.png" %>
	</div>
<div class="container">
	<div class="row">
		<div class="hidden-xs col-sm-6 col-md-6 col-lg-7">
			<%= image_tag 'B1-boards.png', class: 'img-responsive' %>
			<!-- <img src="../assets/B1-boards.png" class="img-responsive" /> -->
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-6 col-lg-5">
			<ul class="timeline">
				<%= raw @page.content_for(:first_decade) %>
			</ul>
		</div>
	</div>
</div>
</section>

<section id="second-decade" >
	<div id="richards" class="hidden-sm hidden-md hidden-lg">
		<%= image_tag "Mobile30YrSB-NoText_BOARD-3.png" %>
	</div>
	<div id="xv-pro" class="hidden-sm hidden-md hidden-lg">
		<%= image_tag "Mobile30YrSB-NoText_BOARD-4.png" %>
	</div>
<div class="container"  >
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-5 col-lg-5">
			<ul class="timeline">
				<%= raw @page.content_for(:second_decade) %>
			</ul>
		</div>
		<!-- col-xs-10 col-xs-offset-1 col-sm-7 col-md-5 -->
		<div class="hidden-xs col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-7 col-lg-7">
			<%= image_tag "B2-boards.png", class: "img-responsive" %>
		</div>
	</div>
</div>
</section>

<section id="third-decade">
	<div id="one-mag" class="hidden-sm hidden-md hidden-lg">
		<%= image_tag "Mobile30YrSB-NoText_BOARD-5.png" %>
	</div>
	<div id="sushi" class="hidden-sm hidden-md hidden-lg">
		<%= image_tag "Mobile30YrSBNoText_BOARD-6.png" %>
	</div>
	<div class="container" class="clearfix">
		<div class="row">
			<div class="hidden-xs col-sm-6 col-md-7">
				<%= image_tag "BLOCK_3_IMAGES.png", class: "img-responsive" %>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-5">
				<ul class="timeline">
					<%= raw @page.content_for(:third_decade) %>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="bottom-app-links">
				<%= image_tag 'APP-BOX-BOTTOM-1.png', class: 'img-responsive'%>
				<%= link_to (image_tag 'APP-BOX-BOTTOM-2.png', class: 'img-responsive'), 'https://itunes.apple.com/us/app/rossignol-shreddin-since-87/id1193299498?mt=8' %>
				<%= link_to (image_tag 'APP-BOX-BOTTOM-3.png', class: 'img-responsive'), 'https://play.google.com/store/apps/details?id=com.wearetopsecret.rossignol'%>				
			</div>
		</div>
</section>
</div>
